<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Eladás</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <form>
        <label for="nev">Kérem adja meg a nevét:</label><br>
        <input type="text" name="nev"><br>
        <label for="bankszamlaszam">Kérem adja meg a bankszámlaszámát:</label><br>
        <input type="text" name="bankszamlaszam">
        <p><input type="checkbox" name="elfogad">Elfogadom a szerződési feltételeket</p>
        <input type="submit" value="Megadom">
    </form>
</body>
</html>
